body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 295px;
    height: auto;margin-top: 100px;
    gap: 8px;
    background-color: rgb(19, 7, 93);
}

.display {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgb(115, 214, 202);
    border-radius: 8px;
    height: 50px;
    width: 260px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 32px;
}

.button-container {
    display: flex;
}

.number-buttons {
    display: flex;
    flex-direction: column;
}

.one-nine {
    display: flex;
    flex-wrap: wrap;
    width: 225px;
}

#zero {
    height: 50px;
}


button.num {
    border: 1px;
    border-style: solid;
    border-color: aliceblue;
    background-color: lightskyblue;
}
button.num:hover {
    background-color: rgb(119, 186, 227);
}



.operator-buttons {
    display: flex;
    flex-direction: column;
}

button.operator {
    height: 50px;
    width: 50px;
    border: 1px;
    border-style: solid;
    border-color: aliceblue;
    background-color: skyblue;
}
button.operator:hover {
    background-color: rgb(123, 189, 215);
}
.one-nine button {
    display: block;
    width: 75px;
    height: 50px;
}

